.userAvatar {
  width: 156px;
  border-radius: 100px;
  background-color: #2a2a2a;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;

  background-color: #fafafa;
  border: 3px solid #212121;
  border-radius: 5px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 5px;
}

.cardStats {
  display: flex;
  height: 100%;
  background-color: #d3d3d3;
  border-top: 2px solid #808080;
}

.cardStats li {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
}

.cardStats li:not(:last-child) {
  border-right: 2px solid #808080;
}

.boldText {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

span.boldText {
  font-size: 18px;
}

.grayText {
  font-size: 18px;
  font-weight: lighter;
  color: #808080;
}

.normalText {
  font-size: 18px;
  color: black;
}
