.isOnline {
  color: #2a9028;
}

.isOfline {
  color: #ff0707;
}

.isOfline,
.isOnline {
  font-weight: bold;
}

.icon {
  width: 56px;
  padding-top: 5px;
}

.nameText {
  font-size: 24px;
  color: black;
  padding-top: 7px;
  padding-bottom: 2px;
}

.cardWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 85px;
  height: 135px;

  border: 2px solid black;
  border-radius: 5px;
}
